.App{
  height: calc(100vh - 10rem);
}

.App .row, .App .col{
  max-height: 100%;
}

header, footer{
  height: 2.5em;
  background-color: #f5f5f5;
}

header{
  border-bottom: 1px solid #ccc;
  margin-bottom: 2.5em;
}

footer{
  border-top: 1px solid #ccc;
  margin-top: 2.5em;
}

h1{
  border-bottom: 1px solid #000;
}

ul{
  list-style: none;
}

.contact-list{
  height: calc(100vh - 20rem);
  overflow-y: scroll;
  padding: 0;
}

.contact{
  border: 1px solid #000;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 10px;
}

.contact-info{
  flex: 1;
}

.contact img{
  width: 100px;
  height: 100px;
}

.contact-actions{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contact-actions img{
  width: 20px;
  height: 20px;
}

.search-bar{
  flex-grow: 1;
}

.search-bar input{
  width: 100%;
}